<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WeatherWiz</title>

</head>
<body>
	<footer class="site-footer" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<form action="#" class="subscribe-form">
						<input type="text" placeholder="Enter your email to subscribe...">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<div class="social-links">
						<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
							class="fa fa-twitter"></i></a> <a href="#"><i
							class="fa fa-google-plus"></i></a> <a href="#"><i
							class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
			<p class="colophon">© Developed by Team 12. All rights reserved</p>
		</div>
	</footer>
</body>
</html>