<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hotel Management - Guest</title>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700'
	rel='stylesheet' type='text/css'>
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="css/flexslider.css" rel="stylesheet">
<link href="/css/toastr.min.css" rel="stylesheet">
<link href="css/templatemo-style.css" rel="stylesheet">

</head>
<body class="tm-gray-bg">
	<!-- Header -->
	<div class="tm-header" th:fragment="header" id="divAdminHeader">
		<div class="container">
			<div class="row">
				<div class="userlogo col-sm-3 tm-site-name-container">
					<a href="#" class="tm-site-name"> <img
						src="/img/logoWithName.jpg" width="140px" height="140px"
						alt="image" class="img-responsive">
					</a>
				</div>
				<div class="usermenu col-md-8 col-sm-9">
					<div class="mobile-menu-icon">
						<i class="fa fa-bars"></i>
					</div>
					<nav class="tm-nav">
						<ul>
							<li><a id="lnkBookings" th:href="@{/admin/bookings}">Bookings</a></li>
							<li><a id="lnkRoomSearch" th:href="@{/admin/rooms}"
								onclick="roomsLinkClicked()">Room Search</a></li>
							<li><a id="lnkRoomManagement" th:href="@{/admin/roommngt}"
								onclick="roomsLinkClicked()">Room Management</a></li>
							<li><a id="lnkFeedback" th:href="@{/admin/feedback}">Feedback</a></li>
							<li><a id="lnkLogout" th:href="@{/logout}">Logout</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>
</html>